HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
node_modules/
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### customize ###
logs
/**/logs/*
target
metastore_db

### IntelliJ Webstorm ###
dist
package-lock.json
frontend/ceres-assets-manager/assets-manager.code-workspace
frontend/ceres-assets-manager/jsconfig.json
.DS_Store
dependency-reduced-pom.xml

.docusaurus
yarn.lock
